<script> document.title = `Login - ${document.title}`; </script>


{{!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> --}}

<!-- Sign In Start -->
<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <form action="" class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3" method="POST">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="" class="">
                        <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Admin Panel</h3>
                    </a>
                    <h3>Sign In</h3>
                </div>
                {{#unless sessionFlash.success}}
                <div class="text-danger mb-4">
                    {{sessionFlash.error}}
                </div>
                {{/unless}}
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="userName1234"
                        name="user_name" required>
                    <label for="floatingInput">User Name</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                        name="password" required>
                    <label for="floatingPassword">Password</label>
                </div>

                {{!-- <div class="form-group has-feedback g-recaptcha mb-4" data-sitekey='@TempData["siteKey"]'></div> --}}

                {{!-- <div class="d-flex align-items-center justify-content-between mb-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <a href="">Forgot Password</a>
                </div> --}}
                <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Sign In</button>
                {{!-- <p class="text-center mb-0">Don't have an Account? <a href="">Sign Up</a></p> --}}
            </form>
        </div>
    </div>
</div>
<!-- Sign In End -->

{{!-- <script>
    var element = document.getElementsByClassName("content");
    element[0].classList.add('open');
</script> --}}

{{!-- <style>
    .sidebar,
    .navbar,
    .footer,
    .back-to-top {
        display: none;
    }
</style> --}}