<script> document.title = `Đăng ký tài khoản - ${document.title}`; </script>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
    <!-- BEGIN: PAGE CONTENT -->
    <div class="login-box">

        <!-- /.login-logo -->
        <div class="login-box-body box-custom">
            <p class="login-box-msg">Đăng ký thành viên</p>

            <span class="help-block" style="text-align: center;color: #dd4b39">
                <strong>{{error}}</strong>
            </span>

            <span class="help-block" style="text-align: center;color: #00FF00">
                <strong>{{success}}</strong>
            </span>

            <form action="/dang-ky" method="POST">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" name="userName" value="" placeholder="Tài khoản" required>
                    <span class="fa-solid fa-user form-control-feedback"></span>

                </div>

                <div class="form-group has-feedback">
                    <input type="text" class="form-control" name="email" value="" placeholder="Email" required>
                    <span class="fa-solid fa-envelope form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    <input type="text" class="form-control number" maxlength="11" name="phone" value=""
                        placeholder="Số điện thoại" required>
                    <span class="fa-solid fa-mobile-screen-button form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    <input type="password" class="form-control" name="password" placeholder="Mật khẩu" required>
                    <span class="fa-solid fa-lock form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    <input type="password" class="form-control" name="password_confirmation"
                        placeholder="Xác nhận mật khẩu" required>
                    <span class="fa-solid fa-lock form-control-feedback"></span>
                    
                <div id="passHelp" class="form-text">
                    Mật khẩu từ 8 kí tự trở lên.<br>
                    Bao gồm chữ, số và kí tự đặc biệt.
                </div>
                </div>

                {{!-- <div class="form-group has-feedback g-recaptcha" data-sitekey=''></div> --}}

                <div class="row">

                    <!-- /.col -->
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" style="margin: 0 auto;">Đăng
                            ký</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>


            <div class="social-auth-links text-center">
                <p style="margin-top: 5px">- HOẶC -</p>



                <a asp-action="Login" asp-controller="User" class="btn btn-social btn-info btn-flat d-inline-block">
                    <i class="fa-regular fa-user"></i>Đăng nhập</a>
            </div>
            <!-- /.social-auth-links -->
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->

    <link rel="stylesheet" href="/assets/frontend/css/signup-style.css">

    <!-- END: PAGE CONTENT -->
</div>

<div class="modal fade" id="noticeModal" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="loader" style="text-align: center"><img src="/assets/frontend/images/loader.gif"
                style="width: 50px;height: 50px;display: none"></div>
        <div class="modal-content">

        </div>
    </div>
</div>
</div>

<div class="modal fade" id="LoadModal" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="loader" style="text-align: center"><img src="/assets/frontend/images/loader.gif"
                style="width: 50px;height: 50px;display: none"></div>
        <div class="modal-content">
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.load-modal').each(function (index, elem) {
            $(elem).unbind().click(function (e) {
                e.preventDefault();
                e.preventDefault();
                var curModal = $('#LoadModal');
                curModal.find('.modal-content').html("<div class=\"loader\" style=\"text-align: center\"><img src=\"/assets/frontend/images/loader.gif\" style=\"width: 50px;height: 50px;\"></div>");
                curModal.modal('show').find('.modal-content').load($(elem).attr('rel'));
            });
        });
    });
</script>

<!-- END: PAGE CONTAINER -->