<a name="footer"></a>
<footer class="c-layout-footer c-layout-footer-3 c-bg-dark">
    <div class="c-prefooter">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="c-container c-first">
                        <p><span style="font-size:22px"><strong>&nbsp;NICK.VN</strong></span>&nbsp; &nbsp;<a
                                href="http://www.dmca.com/Protection/Status.aspx?ID=6766daa6-8986-40c5-b282-a9c9e6a883de&amp;refurl=https://nick.vn/"
                                target="_blank"><img alt="DMCA.com Protection Status"
                                    src="https://images.dmca.com/Badges/_dmca_premi_badge_1.png?ID=6766daa6-8986-40c5-b282-a9c9e6a883de" /></a>
                        </p>

                        <p><span style="font-size:14px"><span style="color:#ffffff">Chuy&ecirc;n mua </span><a
                                    href="#"><span style="color:#ffffff">b&aacute;n
                                        nick&nbsp;all game gi&aacute; rẻ</span></a><span style="color:#ffffff">&nbsp;(
                                </span><a href="#"><span style="color:#ffffff">Free Fire</span></a><span
                                    style="color:#ffffff">,
                                </span><a href="#"><span style="color:#ffffff">Li&ecirc;n Qu&acirc;n</span></a><span
                                    style="color:#ffffff">, </span><a href="#"><span style="color:#ffffff">Đột
                                        K&iacute;ch</span></a><span style="color:#ffffff">, </span><a href="#"><span
                                        style="color:#ffffff">Li&ecirc;n Minh</span></a><span style="color:#ffffff">,
                                </span><a href="#"><span style="color:#ffffff">Ngọc
                                        Rồng</span></a><span style="color:#ffffff">,...),
                                </span><a href="#"><span style="color:#ffffff">nạp game
                                        gi&aacute; rẻ</span></a><span style="color:#ffffff">,&nbsp;an
                                    to&agrave;n,&nbsp;tin cậy, nhanh ch&oacute;ng. Giao dịch tự động
                                    24/24</span></span></p>

                        <ul>
                            <li><strong><span style="font-size:14px"><a href="#" target="_blank"><span
                                                style="color:#ffffff">Giới thiệu</span></a></span></strong></li>
                            <li><strong><span style="font-size:14px"><a href="#" target="_blank"><span
                                                style="color:#ffffff">Hướng Dẫn Mua T&agrave;i
                                                Khoản</span></a></span></strong></li>
                            <li><strong><span style="font-size:14px"><a href="#" target="_blank"><span
                                                style="color:#ffffff">Hướng Dẫn Mua Nick Trả
                                                G&oacute;p</span></a></span></strong></li>
                            <li><strong><span style="font-size:14px"><a href="#" target="_blank"><span
                                                style="color:#ffffff">Tuyển Đại L&yacute; cung cấp nick tại
                                                Nick.vn</span></a></span></strong></li>
                            <li><strong><span style="font-size:14px"><a href="#" target="_blank"><span
                                                style="color:#ffffff">Li&ecirc;n hệ</span></a></span></strong></li>
                            <li><strong><a href="#" target="_blank"><span style="color:#ffffff"><span
                                                style="font-size:14px">Tin
                                                tức&nbsp;game</span></span></a></strong></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="c-container c-last">
                        <h2><span style="color:#ffffff"><span style="font-size:22px"><strong>CH&Uacute;NG T&Ocirc;I
                                        Ở Đ&Acirc;Y</strong></span></span></h2>

                        <h3><span style="color:#ffffff"><span style="font-size:16px">Ch&uacute;ng t&ocirc;i
                                    l&agrave;m việc một c&aacute;ch chuy&ecirc;n nghiệp, uy t&iacute;n, nhanh
                                    ch&oacute;ng v&agrave; lu&ocirc;n đặt quyền lợi của bạn l&ecirc;n h&agrave;ng
                                    đầu.</span></span></h3>

                        <p>&nbsp;</p>

                        <p><span
                                style="color:#ffffff">&nbsp;<strong>Hotline:</strong>&nbsp;<strong>0869693000</strong></span>
                        </p>

                        <p><span style="color:#ffffff">&nbsp;<strong>Thời gian l&agrave;m việc&nbsp;8h-11h30 &amp;
                                    13h30-22h</strong></span></p>
                    </div>
                </div>
                <div class="col-md-4 w-100">
                    <div class="fb-post"
                        data-href="https://www.facebook.com/photo/?fbid=1252444278493028&amp;set=a.218550428549090"
                        data-show-text="false">
                        <blockquote
                            cite="https://www.facebook.com/photo.php?fbid=1252444278493028&amp;set=a.218550428549090&amp;type=3"
                            class="fb-xfbml-parse-ignore">
                            <p>Anh bia dep nhat nam ~</p>Người đăng: <a href="https://www.facebook.com/lehuygiang28">Lê
                                Huy Giang</a> vào&nbsp;<a
                                href="https://www.facebook.com/photo.php?fbid=1252444278493028&amp;set=a.218550428549090&amp;type=3">Thứ
                                Bảy, 2 tháng 7, 2022</a>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-postfooter" style="margin-top: -70px">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>
</footer><!-- END: LAYOUT/FOOTERS/FOOTER-5 -->

<!-- BEGIN: LAYOUT/FOOTERS/GO2TOP -->
<div class="c-layout-go2top">
    <i class="icon-arrow-up"></i>
</div><!-- END: LAYOUT/FOOTERS/GO2TOP -->
<!-- BEGIN: LAYOUT/BASE/BOTTOM -->
<!-- BEGIN: CORE PLUGINS -->
<!--[if lt IE 9]>
    <![endif]-->

</body>