<html lang='en'>

    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Web Bán Nick, Có Đủ Mọi Loại Game Hot Thịnh Hành Giang.cf</title>

        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link
            href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&amp;subset=all'
            rel='stylesheet'
            type='text/css'
        />

        <script
            src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js'
            integrity='sha512-qp27nuUylUgwBZJHsmm3W7klwuM5gke4prTvPok3X5zi50y3Mo8cgpeXegWWrdfuXyF2UdLWK/WCb5Mv7CKHcA=='
            crossorigin='anonymous'
            referrerpolicy='no-referrer'
            type="text/javascript"
        ></script>
        
        <link
            href='https://cdn.jsdelivr.net/gh/giaanghuy/giangvtca-cdn@master/assets/frontend/nodejs-nickvn/theme/plugins/socicon/css/socicon.css'
            rel='stylesheet'
            type='text/css'
        />
        <link
            href='https://cdn.jsdelivr.net/npm/bootstrap-social@5.1.1/bootstrap-social.min.css'
            rel='stylesheet'
            type='text/css'
        />

        <link
            href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css'
            rel='stylesheet'
            type='text/css'
        />

        <link
            href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css'
            rel='stylesheet'
            type='text/css'
        />

        <link
            href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css'
            rel='stylesheet'
            type='text/css'
        />

        <link
            rel='stylesheet'
            href='https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css'
        />

        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN: BASE PLUGINS  -->
        <link
            href='https://cdn.statically.io/gh/giaanghuy/giangvtca-cdn/master/assets/frontend/nodejs-nickvn/theme/global/plugins/magnific/magnific.css'
            rel='stylesheet'
            type='text/css'
        />

        <link
            href='https://cdn.jsdelivr.net/gh/giaanghuy/giangvtca-cdn@master/assets/frontend/nodejs-nickvn/theme/plugins/cubeportfolio/css/cubeportfolio.min.css'
            rel='stylesheet'
            type='text/css'
        />

        <link
            href='https://cdn.jsdelivr.net/gh/giaanghuy/giangvtca-cdn@master/assets/frontend/nodejs-nickvn/theme/plugins/owl-carousel/owl-carousel.css'
            rel='stylesheet'
            type='text/css'
        />

        <link
            href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css'
            rel='stylesheet'
            type='text/css'
        />
        <!-- END: BASE PLUGINS -->
        <!-- BEGIN: PAGE STYLES -->
        <link
            href='https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.6.4/dist/css/bootstrap-datepicker.min.css'
            rel='stylesheet'
            type='text/css'
        />

        <link
            href='https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.6.4/dist/css/bootstrap-datepicker3.min.css'
            rel='stylesheet'
            type='text/css'
        />

        <link
            href='https://cdn.jsdelivr.net/npm/bootstrap-timepicker@0.5.2/css/bootstrap-timepicker.min.css'
            rel='stylesheet'
            type='text/css'
        />

        <link
            href='https://cdn.jsdelivr.net/gh/giaanghuy/giangvtca-cdn@master/assets/frontend/nodejs-nickvn/theme/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css'
            rel='stylesheet'
            type='text/css'
        />
        <!-- END: PAGE STYLES -->
        <!-- BEGIN THEME STYLES -->

        <link
            href='https://cdn.jsdelivr.net/gh/giaanghuy/giangvtca-cdn@master/assets/frontend/nodejs-nickvn/theme/demos/default/css/plugins.css'
            rel='stylesheet'
            type='text/css'
        />
        <link
            href='https://cdn.jsdelivr.net/gh/giaanghuy/giangvtca-cdn@master/assets/frontend/nodejs-nickvn/theme/demos/default/css/components.css'
            id='style_components'
            rel='stylesheet'
            type='text/css'
        />

        <link
            href='https://cdn.jsdelivr.net/gh/giaanghuy/giangvtca-cdn@master/assets/frontend/nodejs-nickvn/theme/demos/default/css/themes/default.css'
            rel='stylesheet'
            id='style_theme'
            type='text/css'
        />
        <link
            href='https://cdn.jsdelivr.net/gh/giaanghuy/giangvtca-cdn@master/assets/frontend/nodejs-nickvn/theme/demos/default/css/custom.css'
            rel='stylesheet'
            type='text/css'
        />

        <link
            rel='stylesheet'
            href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'
            integrity='sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=='
            crossorigin='anonymous'
            referrerpolicy='no-referrer'
        />

        <link
            rel='stylesheet'
            href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css'
            integrity='sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=='
            crossorigin='anonymous'
            referrerpolicy='no-referrer'
        />

        <link rel="stylesheet" href="https://cdn.statically.io/gh/giaanghuy/giangvtca-cdn/master/assets/frontend/nodejs-nickvn/theme/plugins/owl-carousel/owl.theme.css">


        <link
            rel='stylesheet'
            href='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.transitions.css'
        />

        <script
            src='https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js'
        ></script>

        <script
            src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'
            integrity='sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=='
            crossorigin='anonymous'
            referrerpolicy='no-referrer'
        ></script>

        <script
            src='https://cdn.jsdelivr.net/gh/giaanghuy/giangvtca-cdn@master/assets/frontend/nodejs-nickvn/js/owl-carousel/slider.js'
        ></script>
        <script
            src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js'
            integrity='sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA=='
            crossorigin='anonymous'
            referrerpolicy='no-referrer'
        ></script>

        <link href='/assets/frontend/css/style.css' rel='stylesheet' type='text/css' />
        <link rel='stylesheet' href='/assets/frontend/css/style-infile.css' />

        <!-- END THEME STYLES -->
    </head>

    <body
        class='c-layout-header-fixed c-layout-header-mobile-fixed c-layout-header-topbar c-layout-header-topbar-collapse'
    >

        <div class='app'>

            {{> header}}

            <div class="container">
                {{{body}}}
            </div>

            {{> footer}}

        </div>
        <!-- BEGIN: LAYOUT/BASE/BOTTOM -->
        <!-- BEGIN: CORE PLUGINS -->
        <script
            src='https://cdn.jsdelivr.net/gh/giaanghuy/giangvtca-cdn@master/assets/frontend/nodejs-nickvn/theme/plugins/jquery-migrate.min.js'
            type='text/javascript'
        ></script>

        <script>
            $(document).ready(function () { 
            App.init(); // init core }); $(function () {
            $('[data-toggle="tooltip"]').tooltip() });
            $(".menu-main-mobile a").click(function () {
            if ($(this).closest("li").hasClass("c-open")) {
            $(this).closest("li").removeClass("c-open");
            }else{$(this).closest("li").addClass("c-open"); } });
        </script>

        <script
            src='https://cdn.statically.io/gh/giaanghuy/giangvtca-cdn/master/assets/frontend/nodejs-nickvn/theme/plugins/jquery.easing.min.js'
            type='text/javascript'
        ></script>
        <script
            src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js'
            type='text/javascript'
        ></script>

        <script
            src='https://cdn.jsdelivr.net/gh/giaanghuy/giangvtca-cdn@master/assets/frontend/nodejs-nickvn/theme/demos/default/js/reveal-animate/reveal-animate.js'
            type='text/javascript'
        ></script>
        <!-- END: CORE PLUGINS -->
        <!-- BEGIN: LAYOUT PLUGINS -->

        <script
            src='https://cdn.statically.io/gh/giaanghuy/giangvtca-cdn/master/assets/frontend/nodejs-nickvn/theme/global/plugins/magnific/magnific.js'
            type='text/javascript'
        ></script>

        <script
            src='https://cdn.jsdelivr.net/gh/giaanghuy/giangvtca-cdn@master/assets/frontend/nodejs-nickvn/theme/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js'
            type='text/javascript'
        ></script>

        <script
            src='https://cdn.jsdelivr.net/npm/counterup@1.0.0/jquery.counterup.min.js'
            type='text/javascript'
        ></script>

        <script
            src='https://cdn.jsdelivr.net/npm/jquery-waypoints@2.0.3/waypoints.min.js'
            type='text/javascript'
        ></script>

        <script
            src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js'
        ></script>

        <script
            src='https://cdn.statically.io/gh/giaanghuy/giangvtca-cdn/master/assets/frontend/nodejs-nickvn/theme/plugins/smooth-scroll/jquery.smooth-scroll.js'
            type='text/javascript'
        ></script>
        <script
            src='https://cdn.jsdelivr.net/npm/js-cookie@2.1.4/src/js.cookie.min.js'
            type='text/javascript'
        ></script>
        <!-- END: LAYOUT PLUGINS -->
        <!-- BEGIN: THEME SCRIPTS -->
        <script
            src='https://cdn.jsdelivr.net/gh/giaanghuy/giangvtca-cdn@master/assets/frontend/nodejs-nickvn/theme/base/js/components.js'
            type='text/javascript'
        ></script>
        <script
            src='https://cdn.jsdelivr.net/gh/giaanghuy/giangvtca-cdn@master/assets/frontend/nodejs-nickvn/theme/base/js/app.js'
            type='text/javascript'
        ></script>

        <script
            src='https://cdn.jsdelivr.net/npm/bootbox@4.4.0/bootbox.min.js'
            type='text/javascript'
        ></script>

        <!-- BEGIN: PAGE SCRIPTS -->
        <script
            src='https://cdn.statically.io/gh/giaanghuy/giangvtca-cdn/master/assets/frontend/nodejs-nickvn/theme/plugins/moment.min.js'
            type='text/javascript'
        ></script>

        <script
            src='https://cdn.jsdelivr.net/npm/bootstrap-daterangepicker@2.1.13/daterangepicker.min.js'
            type='text/javascript'
        ></script>

        <script
            src='https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.6.4/dist/js/bootstrap-datepicker.min.js'
            type='text/javascript'
        ></script>

        <script
            src='https://cdn.jsdelivr.net/npm/bootstrap-timepicker@0.5.2/js/bootstrap-timepicker.min.js'
            type='text/javascript'
        ></script>

        <script
            src='https://cdn.jsdelivr.net/gh/giaanghuy/giangvtca-cdn@master/assets/frontend/nodejs-nickvn/theme/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js'
            type='text/javascript'
        ></script>

        <script
            src='https://cdn.jsdelivr.net/gh/giaanghuy/giangvtca-cdn@master/assets/frontend/nodejs-nickvn/theme/demos/default/js/pages/datepicker.js'
            type='text/javascript'
        ></script>

        <script
            src='https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.min.js'
            integrity='sha512-Eogd9GlcC1mayqrkZyTDjNpwNpe1AQy3E6fiXxeAiO5bcgSC8fQy0vAOlw1CdNR45bg9rGiA0lEfAHMOw/Xf7g=='
            crossorigin='anonymous'
            referrerpolicy='no-referrer'
        ></script>

        <script src='/assets/frontend/js/common.js' type='text/javascript'></script>

    </body>

</html>